.NavBar{
   padding: 2px 2px;
   background-color: #5d5fc7;
 
   font-size: 15px;
   font-weight: bold;
   height: 40px;
}
.Link{
   color: white;
   margin-right: 10px;

}

button{
   width: 80px;
   margin:5px;
   border:2px #5d5fc7 solid;
   color: #5d5fc7 ;
   font-size: 15px;
   font-weight: 600;
   border-radius: 4px;
}

table{
   margin-left: auto;
   margin-right: auto;
   border-collapse: collapse;
   width: 90%;
   text-align: center;
 }
 
 table td, table th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 table tr:nth-child(even){background-color: #f2f2f2;}
 
 table tr:hover {background-color: #ddd;}
 
 table th {
   padding-top: 12px;
   padding-bottom: 12px;
   background-color: #5d5fc7;
   color: white;
 }

 