.NavBar{
   padding: 2px 2px;
   background-color: #5d5fc7;
 
   font-size: 18px;
   font-weight: bold;
   height: 40px;
}
.Link{
   color: white;
   margin-right: 10px;

}

button,input[type="submit"]{
   width: 100px;
   margin:5px;
   border:3px #5d5fc7 solid;
   color: #5d5fc7 ;
   font-size: 18px;
   font-weight: 600;
   border-radius: 4px;
   padding: 2px;
}

.buttonRed{
   width: 100px;
   margin:5px;
   border:3px #d30101 solid;
   color: #d30101 ;
   font-size: 18px;
   font-weight: 600;
   border-radius: 4px;
   padding: 2px;
}


.buttonGreen{
   width: 100px;
   margin:5px;
   border:3px #006d09 solid;
   color: #037716 ;
   font-size: 18px;
   font-weight: 600;
   border-radius: 4px;
   padding: 2px;
}


input,select{
   width: 200px;
   margin:5px;
   border:3px #5d5fc7 solid;
   color: #5d5fc7 ;
   font-size: 18px;
   border-radius: 4px;
   padding: 2px;
}

table{
   margin-left: auto;
   margin-right: auto;
   border-collapse: collapse;
   width: 90%;
   text-align: center;
 }
 
 table td, table th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 table tr:nth-child(even){background-color: #f2f2f2;}
 
 table tr:hover {background-color: #ddd;}
 
 table th {
   padding-top: 12px;
   padding-bottom: 12px;
   background-color: #5d5fc7;
   color: white;
 }

 

.box{
   /* content: ""; */
   clear: both;
   display: table;
}
.DataBox{
   float: left;
   /* width: 24.4%; */
   width: 32%;
   padding: 5px;
/* 
   border: 2px solid black; */
   border-radius: 5px;
   margin: 5px;
   text-align: center;
}
/* .DataBox:hover{
   border: 2px solid rgb(25, 37, 146);
   box-shadow: 2px 2px rgb(110, 88, 88);
} */
